@import "tailwindcss";

#qr-video video {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}

#qr-video img {
	display: none !important;
}

#qr-video__scan_region {
	background: transparent !important;
}
